<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Register an account
      </h2>
    </div>
    <%= form_with model: @user, url: register_path do |form| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <% @user.errors.full_messages.each do |message|%>
            <div>
              <%= message %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= form.label :email, class: "sr-only" %>
          <%= form.text_field :email, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "john_doe@gmail.com" %>
        </div>
        <div>
          <%= form.label :username, class: "sr-only" %>
          <%= form.text_field :username, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "john_doe" %>
        </div>
        <div>
          <%= form.label :password, class: "sr-only" %>
          <%= form.password_field :password, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm ", placeholder: "Password" %>
        </div>
        <div>
          <%= form.label :password_confirmation, class: "sr-only" %>
          <%= form.password_field :password_confirmation, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm ", placeholder: "Password confirmation" %>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
          </div>
          <div class="text-sm pt-5">
            <%= link_to "Already have an account? Login!", login_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
          </div>
        </div>
        <div class="pt-5">
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <%= form.submit "Register", disable_with: 'Submiting...', class: "relative px-5 transition-all ease-in duration-75 rounded-md group-hover:bg-opacity-0" %>
          </button>
        </div>
      <% end %>
    </div>
